.container {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 1rem 0;
  background-image: linear-gradient(293.04deg, rgba(255, 69, 129, 0.1) 4.09%, rgba(67, 136, 221, 0.1) 70.16%);
}

.content {
  margin: 1rem;
  width: 60%;
  text-align: left;
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  overflow: scroll;
}
