.container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 2rem 1rem 0;
}

.content {
  width: 100%;
  background: rgba(67, 136, 221, 0.05);
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}

.airdropClaimBoard {
  border-radius: 1rem;
  background: white;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.claimTitle {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.tableTitle {
  display: flex;
  margin: 0.5rem 0;
  font-size: 14px;
  justify-content: space-between;
  width: 100%;
}

.divisionLine {
  border: 1px solid var(--sq-gray300);
}

.tableContent {
  display: flex;
  justify-content: space-between;
  text-align: left;
  color: var(--sq-gray500);
}

.category {
  width: 40%;
}

.airdropClaimImg {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.airdropClaimAmount {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 1rem;
  background: var(--sq-gradient);
  border-radius: 6px;
  color: white;
}

.airdropClaimDate {
  border: 1px solid rgba(223, 227, 232, 1);
  width: 100%;
  border-radius: 1rem;
  padding: 0.2rem;
  cursor: pointer;
}

.airdropClaimDateText {
  color: rgba(223, 227, 232, 1);
}
