.container {
  background: white;
  padding: 1rem;
  border-radius: 6px;
}

.button {
  margin: 1rem 0;
}

.claimButton {
  background: var(--sq-primary-blue) !important;
}

.airdropClaimTitle {
  display: flex;
  align-items: flex-start;
}

.airdropClaimAmount {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 1rem;
  background: var(--sq-gradient);
  border-radius: 6px;
  color: white;
}

.amount {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* TODO: add theme */
.amountText {
  color: white !important;
}
