.footerWrapper {
  background-color: var(--sq-gray100);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  width: 100vw;
  max-width: 1440px;
  min-height: 325px;
  bottom: 0px;
  padding: 4rem;

  @media screen and (max-width: 768px) {
    padding: 4rem 2rem;
  }
}
.primaryRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.secondaryRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 400px;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 1.8em;
  font-weight: bold;
  height: 100%;
  width: 100%;
}

.contacts {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}

.discordButton {
  display: flex;
  gap: 7px;
}

.discordButtonText {
  color: var(--sq-primary-blue);
}

.discordButtonIcon {
  margin: auto;
  height: 17px;
  width: 17px;
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  color: var(--sq-primary-blue);
  font-size: 16px;
  font-weight: bold;
  gap: 15px;
}

@media screen and (max-width: 800px) {
  .links > a {
    font-size: 14px;
    line-height: 18.2px;
  }
}
.copyright {
  color: var(--sq-gray500);
  font-weight: 700;
  font-size: 17px;
}

.copyright > p {
  margin-bottom: 0px;
}

@media screen and (max-width: 800px) {
  .smallText {
    font-size: 14px;
    line-height: 18.2px;
  }
}
.joinour {
  color: #4388dd;
}
