.walletActionButton {
  border: 1px solid #4388dd;
  margin-top: 2rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
  width: 60%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.walletActionContainer :hover {
  border-color: lightcoral;
  color: var(--sq-gray700);
}

.walletActionTitle {
  color: var(--sq-gray700);
}

.walletActionTitle :hover {
  background: transparent;
}

.rightArrow {
  height: 100%;
  width: 20px;
  color: var(--sq-gray600);
}

.walletActionText {
  margin-top: 0.5rem;
  color: var(--sq-gray700);
  font-size: 14px;
}

.walletMetamask {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.metamaskTitle {
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
  letter-spacing: 2px;
}

.metmaskIcon {
  width: 50px;
  height: 50px;
}


.switchToBrowserAlert {
  display: none;
}

/* Responsive media query */
@media screen and (max-width: 768px) {
  .content {
    width: 90%;
  }

  .airdropDetails {
    width: 100%;
  }

  .walletActionTitle {
    font-size: 18px;
  }

  .walletActionButton {
    display: none;
  }

  .switchToBrowserAlert {
    display: block;
    margin-top: 1rem;
  }

  .switchToBrowserText {
    min-width: 80%;
  }
}
