.walletActionButton {
  border: 1px solid #4388dd;
  margin-top: 2rem;
  border-radius: 1rem;
  padding: 2rem;
  width: 60%;

  text-align: start;

  display: flex;
  justify-content: space-between;
  align-content: center;
}

.walletActionContainer :hover {
  border-color: lightcoral;
}

.walletActionTitle :hover {
  background: transparent;
}

.rightArrow {
  height: 100%;
  color: var(--sq-gray600);
}

.walletActionText {
  margin-top: 0.5rem;
  color: var(--sq-gray700);
  font-size: 14px;
}

.switchToBrowserAlert {
  display: none;
}

/* Responsive media query */
@media screen and (max-width: 768px) {
  .content {
    width: 90%;
  }

  .airdropDetails {
    width: 100%;
  }

  .walletActionTitle {
    font-size: 18px;
  }

  .walletActionButton {
    display: none;
  }

  .switchToBrowserAlert {
    display: block;
    margin-top: 1rem;
  }

  .switchToBrowserText {
    min-width: 80%;
  }
}
