.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 24px;
}

.error {
  margin: 1rem;
}

.content {
  width: 100%;
}

.contact {
  flex: auto;
  width: 100%;
  margin-top: 1rem;
}

.contactText {
  font-size: 15px;
}

.walletActionContainer {
  border-radius: 8px;
  background: var(--dark-mode-card);
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 40px;
  align-items: center;
  justify-content: space-around;

  @media screen and (max-width: 768px) {
    padding: 2rem 0.75rem;
  }
}

.title {
  background-image: var(--sq-gradient-alt);
  background-clip: text;
  color: transparent;
  font-size: 45px;
  font-weight: 700;
  width: 40vw;
  margin-bottom: 2rem;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.notYetOpen {
  display: flex;
  flex-direction: column;
}

.notYetOpenText {
  font-size: 13px;
  margin-top: 1rem;
}
